:root {
   --branco-princpal: #FFFFFF;
   --cor-segundaria:  #807155;
   --cor-de-fundo: #FFFFFF;

}

body {

   background-color: var(--cor-de-fundo);
}

* {
 margin: 0; 
 padding: 0;
}

.principal{
      background-image: url("Img/Verão\ 2023-\ todas\ as\ tendências\ e\ novidades\ que\ estão\ por\ vir\ 1.png");
}